* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.main {
  height: 100vh;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h1 {
  color: red;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
.header {
  width: 85%;
  height: 13rem;

  background: linear-gradient(0.8turn, #070707, #7a7a8d);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu {
    // border: 1px solid white;
    width: 80%;
    // z-index: 5;
    // background: inherit;
    margin-right: 0.5rem;

    &-items {
      list-style: none;
      display: flex;
      justify-content: space-around;
      // background-color: black;
    }
    &-item {
      width: 8rem;
      background: rgba(255, 0, 0, 0.1);
      color: white;
      border: 1px solid white;
      padding: 0.7rem;
      border-radius: 0.5rem;
      font-size: 2rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        // background: rgba(0, 0, 0, 0.3);
        background: rgba(255, 7, 7, 0.7);
        box-shadow: 3px 3px 15px rgba(255, 254, 254, 0.4);
      }
    }
  }
  &__logo {
    width: 20%;
    height: 100%;
    margin-left: 1rem;
    background: center / contain no-repeat url('../img/image.png');
  }
}
.about {
  width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.3);

  .my__foto {
    &-img {
      width: 30%;
    }
  }
  .my__information {
    article {
      font-size: 1.5rem;
      a {
        font-size: 1.5rem;
      }
    }
  }
}
.footer {
  width: 85%;
  height: 13rem;

  background: linear-gradient(0.8turn, #070707, #7a7a8d);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
